
.input-wrapper{
    margin-bottom: 1.5rem;
    
}

.label-input{
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    padding: 0rem 0.2rem;
    color: white;

}

.custom-input{
    border-width: 0;
    border-radius: 5px;
    width: 100%;
    padding: 0.5rem 0.2rem;
    font-size: 0.9rem;
    opacity: 0.8;
    background-color: rgb(75, 74, 74);
    color: white;
}

.custom-input:focus{
    outline: none;
    opacity: 1;
    transition: all 0.2s;
}

.custom-input::placeholder{
    color: gray;
}